<h1 class="d-flex justify-content-center">

    Admin Cykler</h1>

<!-- <div class="d-flex justify-content-center">
    <h6 class="mr-5"><a href="/admin">Opret</a><h6>
    
    <h6 class=""><a href="/adminUdstyr"> Admin Udstyr</a></h6>
</div> -->

c