

<h1 class="d-flex justify-content-center">Admin Cykler</h1>

<h6 class="ml-5 mb-0"><a href="/admin"><-- Opret</a><h6>

<h6 class="float-right mr-5 mb-0"><a href="/adminUdstyr"> Admin Udstyr --></a></h6>
