
<img src="/img/banner_logo.jpg" class="img-fluid roundImg" alt="Responsive banner">

<nav class="navbar-expand-lg navbar-light">

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">

            <li class="nav-item active border border-secondary">
                <a class="nav-link mx-5" href="/">Forside
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item border border-secondary">
                <a class="nav-link mx-5" href="/cykler">Cykler</a>
            </li>

            <li class="nav-item border border-secondary">
                <a class="nav-link mx-5" href="/udstyr">Udstyr</a>
            </li>

            <li class="nav-item border border-secondary">
                <a class="nav-link disabled mx-5" href="/kontakt">Kontakt</a>
            </li>

            <li class="nav-item border border-secondary">
                <a class="nav-link disabled mx-5" href="/nyheder">Nyheder</a>
            </li>
        </ul>

    </div>

</nav>