<div class="col-md-12">

    <div class="col-md-2 float-right">
            <h3 class="pl-3 pt-3">Tilbud</h3>
            <hr>
            <% produkter.forEach(produkt => { %>
                <p><%= produkt.tilbud_navn %></p>
                <img src="/img/Cykler/<%= produkt.tilbud_billede %>" alt="Cykel Billede" class="w-50">           
                <p>Før: </p>
                <p>Nu kun <%= produkt.tilbud_pris %> Kr.</p>
           <% }) %> 
    
    </div>
    
    <section class="col-md-10">
    
        <h3 class="pl-3 pt-3">Forsiden</h3>
    
        <hr>
    
        <div class="col-md-5 float-left">
    
            <p>
                Velkommen til City Cykler Hos os får du en cykel, der er tilpasset lige præcis til dig. Vi har nemlig bygget cykler gennem
                generationer, så vi ved hvilke krav en cykel kan blive udsat for i det danske vejr. Vores cykler er bygget på
                generationers erfaring og solidt håndværk. Vi har cyklen til alle i familien. Lige fra barnets første trehjulede
                cykel til bedstemors turcykel.
            </p>
    
            <p>
                Vælger du en cykel fra os, så får du en cykel, der giver maksimal køreglæde og derved gør det til en leg at få fælles familieoplevelser
                på cykel med masser af frisk luft og motion, for vi producerer flotte og funktionelle hverdagscykler til hele
                familien.
            </p>
    
            <p>En god cykel udvikles ikke af sig selv. Den er et resultat af mange års produktudvikling. Som et 100% danskejet firma
                kender vi det danske klima og kan tilpasse vore cykler til det ved at bruge de bedste materialer og de mest optimale
                processer i fremstillingen af cykler.
            </p>
    </div>

    </section>
        <div class="col-md-5 float-left">
            <img src="/img/butik.jpg" alt="Butik">
        </div>

    
    
        
        <div class="col-md-9 d-inline-block">
            <p class="col-md-10">
                Vi udvikler og producerer danske kvalitetscykler, der giver dig stor køreglæde, en god funktionalitet og som samtidig lever
                op til dine krav om holdbarhed og minimal vedligeholdelse. Men samtidig går vi ikke på kompromis med sikkerheden.
            </p>
        </div>
</div>


